
@import url("https://fonts.googleapis.com/css2?family=Syne:wght@400;700&family=Inter:wght@400;700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;


*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  @apply bg-light-background text-light-text dark:bg-dark-background dark:text-dark-text;
  font-family: "Inter", sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  scroll-behavior: smooth;
  
}

pre {
  @apply bg-light-background/30 dark:bg-dark-background/30;
  display: block;
}
code{
  padding: 1rem;
  border-radius: 0.375rem;
  margin: 2rem;
  margin-left: 0;
  margin-right: 0;
  width: 100%; /* Asegura que el pre se ajuste al contenedor */
  max-width: 100%;
  box-sizing: inherit;
  overflow-x: auto;
  white-space: pre;
  display: block;
  font-size: 1em;
}
hr{
  margin-bottom: 1rem;
  
}
code{
  font-weight: bold;
}
p{
  width: fit-content;
}





